@black: #ffffff;

.margenes (@top: 0px, @bottom: 0px,){
  margin-top: @top;
  margin-bottom: @bottom;
}

.jumbotron {
  background-color: @black;
  color: white;
  .margenes(50px, 0px,);
  }

.footer {
  padding: 10px 10px 0 10px;
  background-color: yellow;
 .margenes(20px, 0px,);
 }

.card-grex {
  flex: 1 200px;
  .margenes(10px, 0px,);

  }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.img-fluid {
  width: 100%;
  height: 400px; }

.tab-content {
  padding-top: 10px; 
  }
