.jumbotron {
  background-color: #1f211f;
  color: white;
  margin-top: 50px;
  margin-bottom: 0px;
}
.footer {
  padding: 10px 10px 0 10px;
  background-color: yellow;
  margin-top: 20px;
  margin-bottom: 0px;
}
.card-grex {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.img-fluid {
  width: 100%;
  height: 400px;
}
.tab-content {
  padding-top: 10px;
}
