$black: #171616;

@mixin margenes ($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;

}

.jumbotron {
	background-color: $black;
	color: white;
	margin-top: 50px;
	@include margenes(50px, 0px);
}

.footer {
	padding: 10px 10px 0 10px;
	background-color: yellow;
	@include margenes(20px, 0px);
	margin-bottom: 0px;
	margin-top: 20px;
}

.card-grex {
	flex: 1 200px;
	@include margenes(10px, 0px);
}

.btn-reserva {
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon {
	padding-right: 10px;
	
}

.img-fluid{
	width: 100%;
    height: 400px;
	
}

.tab-content {	
	padding-top: 10px;
}

.carousel-inner{

}

